.a {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
    margin: 10px;
}
.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
    margin: 10px;
    text-align: right;

}
.c {
    display: block;
    width: 100px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    margin: 100px 80px 50px 30px;
    /* margin: auto; */
}